main {
    margin-left: 15%;
    margin-right: 15%;
    z-index: 100;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

tr td ul li, .about-text-body li {
    padding: 5px;
}

ol li {
    list-style-type: decimal;
}

ul li {
    list-style-type: disc;
}

.about-header-text {
    position: relative;
    padding-top: 13%;
}

.about-header-text-caption {
    position: relative;
    padding-bottom: 7%;
}

.about-header-text-mini-title {
    padding-top: 2.5%;
    position: relative;
}

.about-text-body {
    padding-top: 1%;
    padding-bottom: 2%;
    color: #818179;
    font-family: DINProRegular;
}

.about-text-body p {
    font-size: 1.25em;
    line-height: 125%;
}

.about-text-body a {
    color: darkred;
    font-weight: bold;
}

.floating-nav {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 1000;
}

.button {
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3);
    float:left;
    height: 80px;
    width: 80px;
    background-color: #ef4135;
    background: url('../resources/exercise-floating.png') center no-repeat;
    background-size: 120% 120%;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.button:hover {
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, .3);
}

.exercise-buttons {
    padding-top: 1.5%;
}

.about-table {
    width: 75%;
}

.about-table li {
    list-style-type: circle;
    position: relative;
    left: 20px;
}

.about-table-header {
    font-weight: bold;
    font-size: 18px;
}
