/* fonts */
@font-face {
    font-family: DINProBold;
    src: url('../fonts/DINPro-Bold_13934.ttf') format('truetype');
}

@font-face {
    font-family: DINProBlack;
    src: url('../fonts/DINPro-Black_13933.ttf') format('truetype');
}

@font-face {
    font-family: DINProMedium;
    src: url('../fonts/DINPro-Medium_13936.ttf') format('truetype');
}

@font-face {
    font-family: DINProLight;
    src: url('../fonts/DINPro-Light_13935.ttf') format('truetype');
}

@font-face {
    font-family: DINProRegular;
    src: url('../fonts/DINPro-Regular_13937.ttf') format('truetype');
}

::-moz-selection {
   background-color: #ef4135;
   color: #fff;
}
::selection {
    background-color: #ef4135;
    color: #fff;
}

a {
	color: white;
}
h1 {
	color: #232323;
	text-transform: uppercase;
	font-family: DINProBlack;
	font-size: 5em;
}

h2 {
	color: #ef4135;
	font-family: 'Sanchez', serif;
	font-size: 2em;
}

h3 {
	text-transform: uppercase;
	font-family: DINProBold;
	font-size: 1.5em;
}

h4 {
	color: #ef4135;
	text-transform: uppercase;
	font-family: DinProRegular;
	font-size: 1.25em;
	padding-bottom: 1%;
}

/* spans */
span.dinpro-light {
	font-family: DINProLight;
}

span.dinpro-regular {
	font-family: DINProRegular;
}

a, a:link, a:visited, a:active {
	text-decoration: none;
}

body {
	background-color: #fbfbfb;
	overflow: auto;
}
/* Reset Unordered List Padding */
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


nav {
	position: fixed;
	background-color: rgba(72,72,72,0.85);
	height: 65px;
	width: 100%;
	color: white;
	z-index: 500;
}

.orange {
	color:#ef4135;
}

ul.nav-content {
	position: relative;
}

ul.nav-content a {
	color: white;
}

nav ul.nav-content li {
	display: inline-block;
	float: right;
	text-transform: uppercase;
	padding-right: 5%;
	font-size: 1.5em;
	font-family: DINProMedium;
	vertical-align: middle;
	line-height: 65px;
}

ul.home-logo {
	display: inline-block;
	float: left;
	line-height: 65px;
	font-size: 1.5em;
	text-transform: uppercase;
	padding-left: 15px;
	font-family: DINProMedium;

}

section.nav-open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* nav overlay */
.nav-overlay {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	background-color: rgba(64,64,64,0.95);
	z-index: 2000;
	width: 100%;
	height: 100%;
	overflow: auto;

}

/* nav close button */
button.nav-overlay-trigger-close {
	position: fixed;
	right: 20px;
	top: 20px;
	width: 80px;
	height: 80px;
	background: url(../resources/x-button.svg) no-repeat center center;
	cursor: pointer;
	border: none;
	outline: none;
	z-index: 2000;
}

.nav-overlay-container {
	position: relative;
	width: 1200px;
	margin-left: 15%;
	z-index: 1000;
}

.nav-overlay-fixed {
	position: fixed;
	width: 100%;
	top: 270px;
	left: 0px;
	height: 0px;
	z-index: 2000;
}

.nav-overlay-left-column {
	position: absolute;
	width: 50%;
}
.nav-overlay-left-column h1 {
	font-family: DINProBlack;
	font-size: 5em;
	text-transform: uppercase;
	color: white;
}

h1.big-number {
	font-size: 18em;
}

.nav-overlay-right-column {
	width: 40%;
	padding-top: 15%;
	float: right;
	position: relative;
	overflow: auto;
	z-index: 2000;
}

.nav-overlay-right-column ul {
	font-size: 2em;
	text-transform: uppercase;
	font-family: DINProMedium;
	color: #5D5D5D;
	z-index: 2000;
}

.nav-overlay-right-column a {
	color: #5D5D5D;
}

.nav-overlay-right-column ul li {
	display: block;
	padding: 25px;
}

.nav-overlay-right-column ul li a:hover {
	transition: 0.1s ease-in;
	color: #ef4135;
}

.row-100 {
	height: 100%;
}

span.vertical {
	display: block;
	position: relative;
	font-family: DINProRegular;
	font-size: 1.5em;
	margin-top: 100px;
	text-transform: uppercase;
	color: white;
	 -webkit-transform: rotate(-90deg);
	  -moz-transform: rotate(-90deg);
	  -ms-transform: rotate(-90deg);
	  -o-transform: rotate(-90deg);
	  transform: rotate(-90deg);

	-webkit-transform-origin: 50% 50%;
	  -moz-transform-origin: 50% 50%;
	  -ms-transform-origin: 50% 50%;
	  -o-transform-origin: 50% 50%;
	  transform-origin: 50% 50%;

  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

footer {
	display: block;
	padding-top: 8%;
}

span.vertical a {
	color: white;
}

span.vertical a:hover {
	color:#5D5D5D;
}

pre {
	max-height: 450px;
}

pre[class*="language-"] {
	overflow: auto;
}

.nav-lectures {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	background-color: rgba(64,64,64,0.95);
	z-index: 2000;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.nav-exercises {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	background-color: rgba(64,64,64,0.95);
	z-index: 2000;
	width: 100%;
	height: 100%;
	overflow: auto;
}
ol {
	margin-left: 1.5%;
}
ol.number {
	list-style-type: decimal;
	font-size: 1.25em;
	list-style-position: inside;
}

ol.number li {
	padding-top: 2%;
}

code {
	color: #07a;
	font-family: Courier,'Andale Mono',monospace;
	font-size: 1em;
}

button {
	cursor: pointer;
}

button.flat-buttons {
  	display: inline-block;
 	margin: 0 10px 0 0;
	padding: 10px 50px;
	font-size: 1.5em;
	font-family: DINProRegular;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	color: #fff;
	background-color: #ef4135;
	border: none;
	text-transform: uppercase;
	transition: 0.5s ease-in;
	letter-spacing: 3px;
	margin-left: 1.5%;
}

button.flat-buttons:hover {
  background-color: #d85952;
  transition: 0.5s ease-in;
}

button:focus {
  outline: none
}