.header-bg {
  background: url(../resources/bg-1.jpg) no-repeat center top fixed;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  min-height: 800px;
}

.extra-container {
    padding-top: 10%;
}
.container {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-right: 25%;
	padding-left: 25%;
}

.white {
	color: white;
}

h1.raleway-h1 {
	font-size: 3em;
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 100 !important;
	line-height: 1.5em;
}

.h3-text {
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 400 !important;
}

strong {
	font-weight: 700;
}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
	transition: 0.3s ease;
	padding: 13px 30px;
	border-radius: 3px;
	margin-right: 5%;
}

.btn-hover:hover {
	background: white;
	color: #ef4135;
}

.btn-dark {
	background-color: #ef4135;
	border: 2px solid #ef4135;
}

.align-left {
	text-align: left;
	margin-left: 15%;
	padding-top: 50px;
}

.padding-fix {
	padding-top: 5% !important;
}

.padding-fix-little {
	padding-top: 1% !important;
}

ul.ul-flex {
	display:-webkit-flex;
	padding-top: 5%;
    max-width: 100%;
}

ul.ul-flex li {
    -webkit-flex: 1 0 0px;
	padding: 20px;
    overflow: hidden;
    width: 33.333%;
}

ul.ul-flex li img {
	display: block;
	height: 70%;
	width: 70%;
}

ul.ul-flex li p {
	font-size: 1em;
	line-height: 1.5em;
	font-family: 'Raleway', sans-serif;
	-ms-word-break: break-all;
	word-break:break-all;
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
        hyphens: auto;
}

h3 {
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
}

.center-margin-auto {
	margin-left: auto;
	margin-right: auto;
}

.who-we-are {
	padding-bottom: 5%;
}

.project-details {
	padding-top: 5%;
	background-color: #f9f9f9;
	padding-bottom: 5%;
	min-height: 300px;
}

.col-50 {
	position: relative;
	float: left;
	width: 45%;
	padding-right: 5%;
}

.col-50 p {
	padding-top: 3%;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

.col-50 img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	margin-top: 13%;
}
.align-left-2 {
	text-align: left;
}

.line-seperator {
	padding-top: 5%;
	border-bottom: 2px solid #ef4135;
	width: 40%;
}

.padding-top-20 {
	padding-top: 10%;
}

.nav-button {
	position: absolute;
	top: 3%;
	left: 2%;
}

.nav-button img {
	width: 70%;
	height: 70%;
	cursor: pointer;
}


.nav-index {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	background-color: rgba(64,64,64,0.95);
	z-index: 2000;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.nav-overlay-container {
	position: relative;
	width: 1200px;
	margin-left: 15%;
	z-index: 1000;
}

.nav-overlay-fixed {
	position: fixed;
	width: 100%;
	top: 270px;
	left: 0px;
	height: 0px;
	z-index: 2000;
}

.nav-overlay-left-column {
	position: absolute;
	width: 50%;
}
.nav-overlay-left-column h1 {
	font-family: DINProBlack;
	font-size: 5em;
	text-transform: uppercase;
	color: white;
}

h1.big-number {
	font-size: 18em;
}

.nav-overlay-right-column {
	width: 100%;
	padding-top: 15%;
	float: right;
	position: relative;
	overflow: auto;
	z-index: 2000;
}

.nav-overlay-right-column ul {
	font-size: 5em;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	z-index: 2000;
}

.nav-overlay-right-column a {
	text-decoration: none;
	color: white;
}

.nav-overlay-right-column ul li {
	display: block;
	padding: 25px;
}

.nav-overlay-right-column ul li a:hover {
	transition: 0.1s ease-in;
	color: #ef4135;
}

.row-100 {
	height: 100%;
}


section.nav-open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* nav overlay */
.nav-overlay {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	background-color: rgba(64,64,64,0.95);
	z-index: 2000;
	width: 100%;
	height: 100%;
	overflow: auto;

}

/* nav close button */
button.nav-overlay-trigger-close {
	position: fixed;
	right: 20px;
	top: 20px;
	width: 80px;
	height: 80px;
	background: url(../resources/x-button.svg) no-repeat center center;
	cursor: pointer;
	border: none;
	outline: none;
	z-index: 2000;
}